<!DOCTYPE html>
<html>

<head>
   <title>CampSeekers</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
   <!-- For AutoComplete on Fuzzy Search -->
   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <!-- MapBox -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
   <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
   <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />
   <!-- Open Sans Font -->
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
   <!-- Custom Css -->
   <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
         <a class="navbar-brand" href="/">CampSeekers</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item">
                  <a class="nav-link" href="/campgrounds">Campsites</a>
               </li>
            </ul>
            <ul class="navbar-nav ml-auto">
               <% if(!currentUser){%>
               <li class="nav-item">
                  <a class="nav-link" href="/login">Log In</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/register">Sign Up</a>
               </li>
               <%} else {%>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     Notifications
                     <% if(notifications.length > 0){ %>
                     <%=notifications.length%>
                     <%}%>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <% notifications.forEach(function(notification){ %>
                     <a class="dropdown-item" href="/notifications/<%=notification._id%>">
                        <%=notification.user%> created a new
                        <%=notification.createdWhat%></a>
                     <% }); %>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="/notifications">View Past Notifications</a>
                  </div>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/users/<%=currentUser._id%>">Signed In :
                     <%=currentUser.username%>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/logout">Log Out</a>
               </li>
               <%}%>
            </ul>
         </div>
      </div>
   </nav>
   <div class="container">
      <% if(success && success.length>0){%>
               <div class="alert mt-3 mb-3 alert-success alert-dismissible fade show" role="alert">
                  <%=success%>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <%}%>
      <% if(error && error.length>0){%>
               <div class="alert alert-warning mt-3 mb-3 alert-dismissible fade show" role="alert">
                  <%=error%>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <%}%>
   </div>