<% include ../partials/header %>
<div class="container">
   <div class="card shadow bg-white rounded form-card-short">
      <div class="card-body">
         <h2 class="form-heading">Edit Review</h2>
         <form action="/campgrounds/<%= campgroundSlug %>/reviews/<%= review._id %>?_method=PUT" method="POST" class="form">
            <div class="form-group">
               <label for="rating">Your current rating:</label>
               <fieldset class="starability-basic form-group" id="rating">
                  <div>
                     <input type="radio" id="first-rate5" name="review[rating]" value="5" <% if (review.rating===5) { %>
                        checked <% } %> />
                     <label for="first-rate5" title="5 stars - Amazing">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(5) %>
                     </label>
                  </div>
                  <div>
                     <input type="radio" id="first-rate4" name="review[rating]" value="4" <% if (review.rating===4) { %>
                        checked <% } %> />
                     <label for="first-rate4" title="4 stars - Very good">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(4) %>
                     </label>
                  </div>
                  <div>
                     <input type="radio" id="first-rate3" name="review[rating]" value="3" <% if (review.rating===3) { %>
                        checked <% } %> />
                     <label for="first-rate3" title="3 stars - Average">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(3) %>
                     </label>
                  </div>
                  <div>
                     <input type="radio" id="first-rate2" name="review[rating]" value="2" <% if (review.rating===2) { %>
                        checked <% } %> />
                     <label for="first-rate2" title="2 stars - Not good">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(2) %>
                     </label>
                  </div>
                  <div>
                     <input type="radio" id="first-rate1" name="review[rating]" value="1" <% if (review.rating===1) { %>
                        checked <% } %> />
                     <label for="first-rate1" title="1 star - Terrible">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(1) %>
                     </label>
                  </div>

               </fieldset>
            </div>
            <div class="form-group">
               <label >Review</label>
               <textarea class="form-control" type="text" name="review[text]"
                  placeholder="Write a review for this review..." rows="5"><%= review.text %></textarea>
            </div>
            <div class="form-group">
               <button class="btn btn-lg btn-outline-primary btn-block">Update Review</button>
            </div>
            <a href="/campgrounds/<%= campgroundSlug %>" class="btn btn-outline-dark btn-sm"><i class="fas fa-arrow-circle-left"></i> Back</a>
         </form>
               
         </div>
    </div>
</div>
<% include ../partials/footer %>