<% include ../partials/header%>
<div class="container">
   <div class="card shadow rounded form-card-short">
      <div class="card-body">
         <h2 class="form-heading">Write A Review</h2>
            <form action="/campsites/<%=campground.slug%>/reviews" method="POST" class="form">
               <label for="rating">How many stars would you give ?</label>
               <div>
                  <input type="radio" id="first-rate5" name="review[rating]" value="5" checked />
                  <label for="first-rate5" title="5 stars - Amazing">
                     <%- '<span class="fa fa-star checked"></span>'.repeat(5) %>
                  </label>
               </div>
               <div>
                  <input type="radio" id="first-rate4" name="review[rating]" value=4 />
                  <label for="first-rate4" title="4 stars - Very good">
                     <%- '<span class="fa fa-star checked"></span>'.repeat(4) %>
                  </label>
               </div>
               <div>
                  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                  <label for="first-rate3" title="3 stars - Average">
                     <%- '<span class="fa fa-star checked"></span>'.repeat(3) %>
                  </label>
               </div>
               <div>
                  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                  <label for="first-rate2" title="2 stars - Not good">
                     <%- '<span class="fa fa-star checked"></span>'.repeat(2) %>
                  </label>
               </div>
               <div>
                  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                  <label for="first-rate1" title="1 star - Terrible">
                     <%- '<span class="fa fa-star checked"></span>'.repeat(1) %>
                  </label>
                  <div class="form-group">
                     <label>Review </label>
                     <textarea class="form-control" type="text" name="review[text]" required
                        placeholder="Write a review for this campsite..." rows="5"></textarea>
                  </div>
                  <div class="form-group">
                     <button class="btn btn-primary btn-lg btn-block btn-outline-primary">Submit Review</button>
                  </div>
                  <a href="/campsites" class="btn btn-outline-dark btn-sm"><i class="fas fa-arrow-circle-left"></i> Back</a>
            </form>
         </div>
    </div>
</div>
<% include ../partials/footer%>