<% include ../partials/header%>

<head>
   <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
   </link>
</head>
<div class="container">
   <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" style="margin:20px 0;">
      <div class="carousel-inner" style="border-radius: 10px;">
        <div class="carousel-item active" data-interval="1000">
          <img src="https://campmonk.com/img/home-banner/campmonk-camping-bangalore-1.jpg" class="d-block w-100" alt="image 2" style="border-radius: 10px;">
        </div>
        <div class="carousel-item" data-interval="1000">
          <img src="https://campmonk.com/img/home-banner/campmonk-camping-bangalore-2.jpg" class="d-block w-100" style="border-radius: 10px;">
        </div>
        <div class="carousel-item" data-interval="1000">
         <img src="https://campmonk.com/img/home-banner/campmonk-camping-bangalore-3.jpg" class="d-block w-100" style="border-radius: 10px;">
       </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    
   <div class="card">
      <div class="card-body">
         <div class="row">
            <div class="col-md-8">
               <form action="/campsites" method="GET" class="form-inline">
                  <div class="form-group">
                     <div class="input-group">
                        <input type="text" name="search" id="tags" placeholder="Search" class="form-control">
                        <div class="input-group-append">
                           <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                  </div>
                  </div>
               </form>
            </div>
            <div class="col-md-4">
               <a class="btn btn-primary addCampsiteBtn card-hover" href="/campsites/new" role="button"><i class="fas fa-plus"></i> Add New Campsite</a>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <% campgrounds.docs.forEach(function(campground){ %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
         <a href="/campsites/<%=campground.slug%>" class="custom-card">
         <div class="card card-hover" style="margin-top:20px">
            <div class="inner">
               <img class="card-img-top" src="<%=campground.img%>" alt="Card image cap">
            </div>
            <div class="card-body text-center">
               <h5 class="card-title">
                  <%=campground.title%>
               </h5>

               <% if (campground.rating === 0) { %>
               <em>No reviews</em>
               <% } else { %>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
               <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
               <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
               <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
               <% } %>

               <div style="margin-top: 7px;">
                  Likes:
                  <span class="badge label-primary"><i class="fas fa-thumbs-up"></i>
                     <%= campground.likes.length %></span>
               </div>
            </div>
         </div>
      </a>
      </div>
      <% }); %>
   </div>
   <div style="text-align: center; margin: 20px;">
      <% if(campgrounds.page-1>=1){ %>
      <a href="/campsites?page=<%=campgrounds.page-1%>" class="btn btn-primary">Prev</a>
      <% } %>
      <% for(let i=1;i<=campgrounds.pages;i++){ %>
      <a class="btn btn-primary" href="/campsites?page=<%=i%>" <%= i === campgrounds.page ? "style=color:#000" : '' %> > <%=i%> </a>
      <% } %>
      <% if( campgrounds.page + 1 <=campgrounds.pages){ %>
      <a class="btn btn-primary" href="/campsites?page=<%=campgrounds.page+1%>">Next</a>
      <% } %>
   </div>
</div>


<script>
   var campgrounds = <%- JSON.stringify(campgrounds.docs) %>;
</script>
<script>
   $('.card-hover').hover(
       function(){ $(this).addClass('shadow-lg rounded') },
       function(){ $(this).removeClass('shadow-lg rounded') }
);
</script>

<script src="/js/autocomplete.js"></script>

<% include ../partials/footer%>
